In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from data_loader import DataLoader
from selenium.webdriver.common.by import By


data_loader = DataLoader("https://github.com/jldbc/coffee-quality-database/blob/master/data/arabica_ratings_raw.csv")
content_df = data_loader.load_resource(By.ID, "read-only-cursor-text-area", "value")

In [3]:
import pandas as pd

df_original = None
if content_df is not None:
  pd.set_option("display.max.columns", None)
  df_original = content_df
else:
  df_original = pd.DataFrame()
df_original.head()

,Unnamed: 0,quality_score,view_certificate_1,view_certificate_2,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Species,Owner,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,Producer,Number of Bags,Bag Weight,In-Country Partner,Harvest Year,Grading Date,Owner.1,Variety,Status,Processing Method,NA,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,NA.1,Uniformity,Clean Cup,Sweetness,Cupper Points,Total Cup Points,NA.2,Moisture,Category One Defects,Quakers,Color,Category Two Defects,NA.3,Expiration,Certification Body,Certification Address,Certification Contact,Unnamed: 51,Notes
0,0,90.58,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,METAD PLC,NaN,METAD PLC,2014/2015,METAD Agricultural Developmet plc,1950-2200,GUJI-HAMBELA/GOYO,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Completed,Washed / Wet,Sample,8.67,8.83,8.67,8.75,8.50,8.42,Sample,10.0,10.0,10.0,8.75,Sample 90.58,NaN,12 %,0 full defects,0.0,Green,0 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
1,1,89.92,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,METAD PLC,NaN,METAD PLC,2014/2015,METAD Agricultural Developmet plc,1950-2200,GUJI-HAMBELA/ALAKA,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Completed,Washed / Wet,Sample,8.75,8.67,8.50,8.58,8.42,8.42,Sample,10.0,10.0,10.0,8.58,Sample 89.92,NaN,12 %,0 full defects,0.0,Green,1 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
2,2,89.75,NaN,NaN,NaN,NaN,NaN,Arabica,Grounds for Health Admin,Guatemala,"San Marcos Barrancas ""San Cristobal Cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,Completed,NaN,Sample,8.42,8.50,8.42,8.42,8.33,8.42,Sample,10.0,10.0,10.0,9.25,Sample 89.75,NaN,0 %,0 full defects,0.0,NaN,0 full defects,NaN,"May 31st, 2011",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100,NaN,NaN
3,3,89.00,NaN,NaN,NaN,NaN,NaN,Arabica,Yidnekachew Dabessa,Ethiopia,Yidnekachew Dabessa Coffee Plantation,NaN,Wolensu,NaN,Yidnekachew Debessa Coffee Plantation,1800-2200,Oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Completed,Natural / Dry,Sample,8.17,8.58,8.42,8.42,8.50,8.25,Sample,10.0,10.0,10.0,8.67,Sample 89.00,NaN,11 %,0 full defects,0.0,Green,2 full defects,NaN,"March 25th, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
4,4,88.83,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,METAD PLC,NaN,METAD PLC,2014/2015,METAD Agricultural Developmet plc,1950-2200,GUJI-HAMBELA/BISHAN FUGU,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Completed,Washed / Wet,Sample,8.25,8.50,8.25,8.50,8.42,8.33,Sample,10.0,10.0,10.0,8.58,Sample 88.83,NaN,12 %,0 full defects,0.0,Green,2 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN

In [4]:
df_original.shape

(1312, 53)

In [5]:
# check for data types in columns
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 53 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        1312 non-null   int64
 1   quality_score                     1312 non-null   float64
 2   view_certificate_1                0 non-null      float64
 3   view_certificate_2                0 non-null      float64
 4   Cupping Protocol and Descriptors  0 non-null      float64
 5   View Green Analysis Details       0 non-null      float64
 6   Request a Sample                  0 non-null      float64
 7   Species                           1312 non-null   object
 8   Owner                             1305 non-null   object
 9   Country of Origin                 1311 non-null   object
 10  Farm Name                         956 non-null    object
 11  Lot Number                        270 non-null    object
 12  Mill                              1004 non-null   object
 13  ICO Number                        1164 non-null   object
 14  Company                           1102 non-null   object
 15  Altitude                          1094 non-null   object
 16  Region                            1256 non-null   object
 17  Producer                          1082 non-null   object
 18  Number of Bags                    1312 non-null   int64
 19  Bag Weight                        1312 non-null   object
 20  In-Country Partner                1312 non-null   object
 21  Harvest Year                      1265 non-null   object
 22  Grading Date                      1312 non-null   object
 23  Owner.1                           1305 non-null   object
 24  Variety                           1110 non-null   object
 25  Status                            1312 non-null   object
 26  Processing Method                 1159 non-null   object
 27  NA                                1310 non-null   object
 28  Aroma                             1312 non-null   float64
 29  Flavor                            1312 non-null   float64
 30  Aftertaste                        1312 non-null   float64
 31  Acidity                           1312 non-null   float64
 32  Body                              1312 non-null   float64
 33  Balance                           1312 non-null   float64
 34  NA.1                              1312 non-null   object
 35  Uniformity                        1312 non-null   float64
 36  Clean Cup                         1312 non-null   float64
 37  Sweetness                         1312 non-null   float64
 38  Cupper Points                     1312 non-null   float64
 39  Total Cup Points                  1312 non-null   object
 40  NA.2                              0 non-null      float64
 41  Moisture                          1312 non-null   object
 42  Category One Defects              1312 non-null   object
 43  Quakers                           1311 non-null   float64
 44  Color                             1044 non-null   object
 45  Category Two Defects              1312 non-null   object
 46  NA.3                              0 non-null      float64
 47  Expiration                        1312 non-null   object
 48  Certification Body                1312 non-null   object
 49  Certification Address             1312 non-null   object
 50  Certification Contact             1312 non-null   object
 51  Unnamed: 51                       0 non-null      float64
 52  Notes                             5 non-null      object
dtypes: float64(20), int64(2), object(31)
memory usage: 543.4+ KB

In [6]:
# create copy of initial df to work with

df_all_dropped = df_original.copy()
df = df_original.copy()

# dropping unwanted columns
columns_drop_all = ['Unnamed: 0', 'view_certificate_1', 'view_certificate_2',
                   'Cupping Protocol and Descriptors', 'View Green Analysis Details',
                   'Request a Sample', 'Lot Number', 'Mill', 'ICO Number',
                   'Number of Bags', 'Bag Weight', 'In-Country Partner',
                   'Status', 'NA', 'NA.1', 'NA.2', 'Category One Defects',
                   'Quakers', 'Category Two Defects', 'NA.3', 'Expiration',
                   'Certification Body', 'Certification Address', 'Certification Contact',
                   'Unnamed: 51', 'Notes', 'Owner', 'Owner.1', 'Altitude', 'Region',
                   'Producer', 'Company', 'Farm Name', 'Country of Origin', 'Harvest Year', 'Grading Date']

columns_to_drop = ['Unnamed: 0', 'view_certificate_1', 'view_certificate_2',
                   'Cupping Protocol and Descriptors', 'View Green Analysis Details',
                   'Request a Sample', 'Lot Number', 'Mill', 'ICO Number',
                   'Number of Bags', 'Bag Weight', 'In-Country Partner',
                   'Status', 'NA', 'NA.1', 'NA.2', 'Category One Defects',
                   'Quakers', 'Category Two Defects', 'NA.3', 'Expiration',
                   'Certification Body', 'Certification Address', 'Certification Contact',
                   'Unnamed: 51', 'Notes', 'Owner', 'Owner.1', 'Region', 'Producer',
                   'Company', 'Farm Name', 'Harvest Year', 'Grading Date']

# transform columns: altitude, Country of Origin
df_all_dropped = df_all_dropped.drop(columns=columns_drop_all)
df = df.drop(columns=columns_to_drop)

In [7]:
# check if columns were effectively dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   quality_score      1312 non-null   float64
 1   Species            1312 non-null   object
 2   Country of Origin  1311 non-null   object
 3   Altitude           1094 non-null   object
 4   Variety            1110 non-null   object
 5   Processing Method  1159 non-null   object
 6   Aroma              1312 non-null   float64
 7   Flavor             1312 non-null   float64
 8   Aftertaste         1312 non-null   float64
 9   Acidity            1312 non-null   float64
 10  Body               1312 non-null   float64
 11  Balance            1312 non-null   float64
 12  Uniformity         1312 non-null   float64
 13  Clean Cup          1312 non-null   float64
 14  Sweetness          1312 non-null   float64
 15  Cupper Points      1312 non-null   float64
 16  Total Cup Points   1312 non-null   object
 17  Moisture           1312 non-null   object
 18  Color              1044 non-null   object
dtypes: float64(11), object(8)
memory usage: 194.9+ KB

In [8]:
# check for min, max values and any potential data-type downsizing
df.describe()

,quality_score,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points
count,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000
mean,82.086212,7.562614,7.516913,7.396822,7.532614,7.516570,7.516349,9.825899,9.825625,9.895724,7.496723
std,3.675542,0.380976,0.402017,0.406202,0.381879,0.361512,0.408316,0.621552,0.817449,0.596925,0.476228
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,81.170000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000
50%,82.500000,7.580000,7.580000,7.420000,7.500000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000
75%,83.670000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000
max,90.580000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000

In [9]:
df.head()

,quality_score,Species,Country of Origin,Altitude,Variety,Processing Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Total Cup Points,Moisture,Color
0,90.58,Arabica,Ethiopia,1950-2200,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,Sample 90.58,12 %,Green
1,89.92,Arabica,Ethiopia,1950-2200,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,Sample 89.92,12 %,Green
2,89.75,Arabica,Guatemala,1600 - 1800 m,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,Sample 89.75,0 %,NaN
3,89.00,Arabica,Ethiopia,1800-2200,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,Sample 89.00,11 %,Green
4,88.83,Arabica,Ethiopia,1950-2200,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,Sample 88.83,12 %,Green

In [10]:
# we can downsize all float64 data-types to float32 as it takes up too much memory unnecessarely

float64_columns = df.select_dtypes(include=['float64']).columns
df[float64_columns] = df[float64_columns].astype('float32')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   quality_score      1312 non-null   float32
 1   Species            1312 non-null   object
 2   Country of Origin  1311 non-null   object
 3   Altitude           1094 non-null   object
 4   Variety            1110 non-null   object
 5   Processing Method  1159 non-null   object
 6   Aroma              1312 non-null   float32
 7   Flavor             1312 non-null   float32
 8   Aftertaste         1312 non-null   float32
 9   Acidity            1312 non-null   float32
 10  Body               1312 non-null   float32
 11  Balance            1312 non-null   float32
 12  Uniformity         1312 non-null   float32
 13  Clean Cup          1312 non-null   float32
 14  Sweetness          1312 non-null   float32
 15  Cupper Points      1312 non-null   float32
 16  Total Cup Points   1312 non-null   object
 17  Moisture           1312 non-null   object
 18  Color              1044 non-null   object
dtypes: float32(11), object(8)
memory usage: 138.5+ KB

In [12]:
df.tail()

,quality_score,Species,Country of Origin,Altitude,Variety,Processing Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Total Cup Points,Moisture,Color
1307,67.919998,Arabica,Haiti,~350m,Typica,Natural / Dry,6.75,6.58,6.42,6.67,7.08,6.67,9.33,6.00,6.00,6.42,Sample 67.92,14 %,Blue-Green
1308,63.080002,Arabica,Nicaragua,1100,Caturra,Other,7.25,6.58,6.33,6.25,6.42,6.08,6.00,6.00,6.00,6.17,Sample 63.08,13 %,Green
1309,59.830002,Arabica,Guatemala,4650,Catuai,Washed / Wet,7.50,6.67,6.67,7.67,7.33,6.67,8.00,1.33,1.33,6.67,Sample 59.83,10 %,Green
1310,43.130001,Arabica,Ethiopia,TEST,NaN,NaN,6.00,6.00,6.25,6.88,6.00,6.00,0.00,0.00,0.00,6.00,Sample 43.13,0 %,NaN
1311,0.000000,Arabica,Honduras,1400,Caturra,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Sample 0.00,12 %,Green

In [13]:
# next up, we want to standardize the values for the 'Altitude' column
# altitude values should be represented by a single numeric value representing meters, for example 1350

import numpy as np
import re


def clean_altitude(value):

    if pd.isna(value):
        return np.nan
    
    value = str(value).lower().strip()
    
    # Case 1: Match ranges with optional spaces and hyphen (e.g., "1000 - 1500", "1000-1500 m")
    match_range = re.match(r'(\d+)\s*-\s*(\d+)', value)
    if match_range:
        min_alt, max_alt = map(int, match_range.groups())
        return (min_alt + max_alt) / 2  # Calculate the mean of the range
    
    # Case 2: Match "Meters above sea level" pattern (e.g., "meters above sea level: 1.872")
    match_meters = re.search(r'meters above sea level: ([\d.]+)', value)
    if match_meters:
        # Convert the matched altitude to a float
        return float(match_meters.group(1))
    
    # Case 3: Match approximate or single number (e.g., "~350" or "≈350")
    match_approx = re.match(r'[~≈]?(\d+)', value)
    if match_approx:
        return int(match_approx.group(1))
    
    # Case 4: Match single number within the text (e.g., "1200m")
    match_single = re.search(r'(\d+)', value)
    if match_single:
        return int(match_single.group(1))
    
    # Case 5: Unrecognized formats (e.g., "TEST")
    return np.nan


df['Altitude_clean'] = df['Altitude'].apply(clean_altitude)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   quality_score      1312 non-null   float32
 1   Species            1312 non-null   object
 2   Country of Origin  1311 non-null   object
 3   Altitude           1094 non-null   object
 4   Variety            1110 non-null   object
 5   Processing Method  1159 non-null   object
 6   Aroma              1312 non-null   float32
 7   Flavor             1312 non-null   float32
 8   Aftertaste         1312 non-null   float32
 9   Acidity            1312 non-null   float32
 10  Body               1312 non-null   float32
 11  Balance            1312 non-null   float32
 12  Uniformity         1312 non-null   float32
 13  Clean Cup          1312 non-null   float32
 14  Sweetness          1312 non-null   float32
 15  Cupper Points      1312 non-null   float32
 16  Total Cup Points   1312 non-null   object
 17  Moisture           1312 non-null   object
 18  Color              1044 non-null   object
 19  Altitude_clean     1085 non-null   float64
dtypes: float32(11), float64(1), object(8)
memory usage: 148.8+ KB

In [15]:
# Identify rows where 'Altitude' is non-null but 'Altitude_clean' is NaN
unmatched_values = df[df['Altitude'].notna() & df['Altitude_clean'].isna()]

# Display these rows to understand the issue
print(unmatched_values[['Altitude', 'Altitude_clean']])

        Altitude  Altitude_clean
169          mmm             NaN
170         TEST             NaN
254            -             NaN
265         none             NaN
457       unkown             NaN
625            -             NaN
687      Huanuco             NaN
1155  -(average)             NaN
1310        TEST             NaN

In [16]:
# after few iterations and adjusting the 'clean_altitude'-method, it seems that the remaining non-null values for 'Altitude' were transformed correctly to NaN
# now we can replace the original 'Altitude' column with the new'Altitude_clean' and downsize it to float32

df['Altitude_clean'] = df['Altitude_clean'].apply(lambda x: x * 1000 if x < 10 else x)

df['Altitude'] = df['Altitude_clean']
df = df.drop(columns=['Altitude_clean'])

df['Altitude'] = df['Altitude'].astype('float32')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   quality_score      1312 non-null   float32
 1   Species            1312 non-null   object
 2   Country of Origin  1311 non-null   object
 3   Altitude           1085 non-null   float32
 4   Variety            1110 non-null   object
 5   Processing Method  1159 non-null   object
 6   Aroma              1312 non-null   float32
 7   Flavor             1312 non-null   float32
 8   Aftertaste         1312 non-null   float32
 9   Acidity            1312 non-null   float32
 10  Body               1312 non-null   float32
 11  Balance            1312 non-null   float32
 12  Uniformity         1312 non-null   float32
 13  Clean Cup          1312 non-null   float32
 14  Sweetness          1312 non-null   float32
 15  Cupper Points      1312 non-null   float32
 16  Total Cup Points   1312 non-null   object
 17  Moisture           1312 non-null   object
 18  Color              1044 non-null   object
dtypes: float32(12), object(7)
memory usage: 133.4+ KB

In [18]:
df.head()

,quality_score,Species,Country of Origin,Altitude,Variety,Processing Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Total Cup Points,Moisture,Color
0,90.580002,Arabica,Ethiopia,2075.0,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,Sample 90.58,12 %,Green
1,89.919998,Arabica,Ethiopia,2075.0,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,Sample 89.92,12 %,Green
2,89.750000,Arabica,Guatemala,1700.0,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,Sample 89.75,0 %,NaN
3,89.000000,Arabica,Ethiopia,2000.0,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,Sample 89.00,11 %,Green
4,88.830002,Arabica,Ethiopia,2075.0,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,Sample 88.83,12 %,Green

In [19]:
# rename quality_score to score
df = df.rename(columns={'quality_score': 'score'})

# check if any object-type column is apt to be categorical type
object_columns = df.select_dtypes(include=['object'])

unique_counts = object_columns.apply(lambda col: col.nunique())

# Display the result
print(unique_counts)

Species                1
Country of Origin     36
Variety               29
Processing Method      5
Total Cup Points     179
Moisture              23
Color                  3
dtype: int64

In [20]:
# as the only value for this column is 'Arabica' and the dataset is only about Arabica coffee, we can drop this column

df = df.drop(columns=['Species'])

# changing 'Country of Origin', 'Variety', 'Processing Method' and 'Color' to categorical type
categorical_columns = ['Country of Origin', 'Variety', 'Processing Method', 'Color']
df[categorical_columns] = df[categorical_columns].astype('category')

In [21]:
# handling total cup points and moisture

df['Total Cup Points'] = df['Total Cup Points'].str.extract(r'(\d+\.\d+)').astype('float32')

# convert '12 %' to 0.12
df['Moisture percentage'] = df['Moisture'].str.replace('%', '').astype('float32') / 100
df = df.drop(columns=['Moisture'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   score                1312 non-null   float32
 1   Country of Origin    1311 non-null   category
 2   Altitude             1085 non-null   float32
 3   Variety              1110 non-null   category
 4   Processing Method    1159 non-null   category
 5   Aroma                1312 non-null   float32
 6   Flavor               1312 non-null   float32
 7   Aftertaste           1312 non-null   float32
 8   Acidity              1312 non-null   float32
 9   Body                 1312 non-null   float32
 10  Balance              1312 non-null   float32
 11  Uniformity           1312 non-null   float32
 12  Clean Cup            1312 non-null   float32
 13  Sweetness            1312 non-null   float32
 14  Cupper Points        1312 non-null   float32
 15  Total Cup Points     1312 non-null   float32
 16  Color                1044 non-null   category
 17  Moisture percentage  1312 non-null   float32
dtypes: category(4), float32(14)
memory usage: 79.9 KB

In [23]:
df.head()

,score,Country of Origin,Altitude,Variety,Processing Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Total Cup Points,Color,Moisture percentage
0,90.580002,Ethiopia,2075.0,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,90.580002,Green,0.12
1,89.919998,Ethiopia,2075.0,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,89.919998,Green,0.12
2,89.750000,Guatemala,1700.0,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,89.750000,NaN,0.00
3,89.000000,Ethiopia,2000.0,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,89.000000,Green,0.11
4,88.830002,Ethiopia,2075.0,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,88.830002,Green,0.12

In [24]:
# check if any of the columns 'Uniformity', 'Clean Cup' or 'Sweetness' are apt to be categorical type

category_canditates = df[['Uniformity', 'Clean Cup', 'Sweetness']]

unique_counts = category_canditates.apply(lambda col: col.nunique())
print(unique_counts)

Uniformity    10
Clean Cup     11
Sweetness      8
dtype: int64

In [25]:
# convert 'Uniformity', 'Clean Cup', 'Sweetness' to categorical type
# make all column names lowercase

categorical_columns = ['Uniformity', 'Clean Cup', 'Sweetness']
df[categorical_columns] = df[categorical_columns].astype('category')
df.columns = df.columns.str.lower()

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   score                1312 non-null   float32
 1   country of origin    1311 non-null   category
 2   altitude             1085 non-null   float32
 3   variety              1110 non-null   category
 4   processing method    1159 non-null   category
 5   aroma                1312 non-null   float32
 6   flavor               1312 non-null   float32
 7   aftertaste           1312 non-null   float32
 8   acidity              1312 non-null   float32
 9   body                 1312 non-null   float32
 10  balance              1312 non-null   float32
 11  uniformity           1312 non-null   category
 12  clean cup            1312 non-null   category
 13  sweetness            1312 non-null   category
 14  cupper points        1312 non-null   float32
 15  total cup points     1312 non-null   float32
 16  color                1044 non-null   category
 17  moisture percentage  1312 non-null   float32
dtypes: category(7), float32(11)
memory usage: 69.2 KB

In [27]:
# save cleaned data locally as csv

df.to_csv('../../data/arabica_clean.csv', index=False)

In [28]:
import requests
from io import StringIO

# Headers to simulate a browser request
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
}

# Make the request with headers
response = requests.get("https://datadryad.org/stash/downloads/file_stream/2041575", headers=headers)

df_cotter = None
# Check for successful response
if response.status_code == 200:
    csv_content = response.content.decode("utf-8")  # Decode to a string if it’s text-based
    # Load into a pandas DataFrame
    df_cotter = pd.read_csv(StringIO(csv_content))
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

In [29]:
df_cotter.head()

,Judge,Cluster,Week,Session Number,Position,Brew,Temp.x,TDS.x,PE.x,Dose,Setting,Grind,Empty Carafe,Full Carafe,Brew Mass,TDS__1,Percent Extraction,pH,Initial NaOH,Final NaOH,Titration pH,Volume,Brew Temperature,Pour Temp,90Sec Temp,Liking,Temp,Flavor.intensity,Acidity,Mouthfeel,Tea.floral,Fruit,Citrus,Green.veg,Paper.wood,Burnt,Cereal,Nutty,Dark.chocolate,Caramel,Bitter,Astringent,Roasted,Sour,Thick.viscous,Sweet,Rubber,Purchase.intent
0,1,1,3,13,3,87-1.0-16,Low,Low,Low,176.1,1SM,5,1769.3,4598.4,2829.1,1.05,16.868569,5.05,13.3,18.3,8.20,5.0,81.1,67.0,63.5,6,4,2,2,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
1,1,1,2,10,2,87-1.0-20,Low,Low,Medium,145.0,6LG,3,1764.3,4670.2,2905.9,0.97,19.439469,5.01,14.3,18.8,8.20,4.5,81.0,69.4,63.9,4,2,2,2,2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1
2,1,1,3,13,9,87-1.0-24,Low,Low,High,119.0,4LG,3,1791.0,4675.1,2884.1,0.96,23.266689,5.11,18.5,22.6,8.20,4.1,78.6,66.3,61.5,2,4,1,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,2
3,1,1,2,10,9,87-1.25-16,Low,Medium,Low,215.3,12LG,5,1775.1,4586.2,2811.1,1.07,13.970632,5.08,3.6,8.6,8.20,5.0,80.4,68.9,62.1,7,3,3,4,4,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3
4,1,1,3,13,10,87-1.25-20,Low,Medium,Medium,176.1,12LG,3,1782.1,4651.3,2869.2,1.27,20.692129,5.02,7.3,13.1,8.21,5.8,80.8,66.9,62.1,8,3,3,3,3,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,5

In [30]:
df_cotter.shape

(3186, 48)

In [31]:
# check for data types in columns
df_cotter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3186 entries, 0 to 3185
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Judge               3186 non-null   int64
 1   Cluster             3186 non-null   int64
 2   Week                3186 non-null   int64
 3   Session Number      3186 non-null   int64
 4   Position            3186 non-null   int64
 5   Brew                3186 non-null   object
 6   Temp.x              3186 non-null   object
 7   TDS.x               3186 non-null   object
 8   PE.x                3186 non-null   object
 9   Dose                3186 non-null   float64
 10  Setting             3186 non-null   object
 11  Grind               3186 non-null   int64
 12  Empty Carafe        3186 non-null   float64
 13  Full Carafe         3186 non-null   float64
 14  Brew Mass           3186 non-null   float64
 15  TDS__1              3186 non-null   float64
 16  Percent Extraction  3186 non-null   float64
 17  pH                  3186 non-null   float64
 18  Initial NaOH        3186 non-null   float64
 19  Final NaOH          3186 non-null   float64
 20  Titration pH        3102 non-null   float64
 21  Volume              3186 non-null   float64
 22  Brew Temperature    3186 non-null   float64
 23  Pour Temp           3186 non-null   float64
 24  90Sec Temp          3186 non-null   float64
 25  Liking              3186 non-null   int64
 26  Temp                3186 non-null   int64
 27  Flavor.intensity    3186 non-null   int64
 28  Acidity             3186 non-null   int64
 29  Mouthfeel           3186 non-null   int64
 30  Tea.floral          3186 non-null   int64
 31  Fruit               3186 non-null   int64
 32  Citrus              3186 non-null   int64
 33  Green.veg           3186 non-null   int64
 34  Paper.wood          3186 non-null   int64
 35  Burnt               3186 non-null   int64
 36  Cereal              3186 non-null   int64
 37  Nutty               3186 non-null   int64
 38  Dark.chocolate      3186 non-null   int64
 39  Caramel             3186 non-null   int64
 40  Bitter              3186 non-null   int64
 41  Astringent          3186 non-null   int64
 42  Roasted             3186 non-null   int64
 43  Sour                3186 non-null   int64
 44  Thick.viscous       3186 non-null   int64
 45  Sweet               3186 non-null   int64
 46  Rubber              3186 non-null   int64
 47  Purchase.intent     3186 non-null   int64
dtypes: float64(14), int64(29), object(5)
memory usage: 1.2+ MB

In [32]:
# columns to drop for cotter data: 'Judge', 'Cluster', 'Week', 'Session Number', 'Position', 'Empty Carafe',
# 'Full Carafe', 'Initial NaOH', 'Final NaOH', 'Titration pH', 'Volume', 'Brew Temperature', 'Pour Temp',
# '90Sec Temp', 'Purchase.intent'

# we are also dropping columns 'Temp.x', 'TDS.x', and 'PE.x' as we have the same information in the 'Brew' column, but not as ordinal data but
# but mor meaningful, composite numeric data

# furthermore, we are taking a medium-roast washed coffee blend from honduras as the objective, so the model will produce more accurate
# results when same kind of blend is used

# we want to merge the initial dataset with the new cotter dataset which holds information about the brewing methods. for this purpose
# we need to consider only blends from honduras in the initial dataset

In [33]:
columns_to_drop_cotter = ['Judge', 'Cluster', 'Week', 'Session Number', 'Position', 
                          'Empty Carafe', 'Full Carafe', 'Initial NaOH', 'Final NaOH',
                          'Titration pH', 'Volume', 'Brew Temperature', 'Pour Temp',
                          '90Sec Temp', 'Purchase.intent']
df_cotter = df_cotter.drop(columns=columns_to_drop_cotter)

In [34]:
df_cotter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3186 entries, 0 to 3185
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brew                3186 non-null   object
 1   Temp.x              3186 non-null   object
 2   TDS.x               3186 non-null   object
 3   PE.x                3186 non-null   object
 4   Dose                3186 non-null   float64
 5   Setting             3186 non-null   object
 6   Grind               3186 non-null   int64
 7   Brew Mass           3186 non-null   float64
 8   TDS__1              3186 non-null   float64
 9   Percent Extraction  3186 non-null   float64
 10  pH                  3186 non-null   float64
 11  Liking              3186 non-null   int64
 12  Temp                3186 non-null   int64
 13  Flavor.intensity    3186 non-null   int64
 14  Acidity             3186 non-null   int64
 15  Mouthfeel           3186 non-null   int64
 16  Tea.floral          3186 non-null   int64
 17  Fruit               3186 non-null   int64
 18  Citrus              3186 non-null   int64
 19  Green.veg           3186 non-null   int64
 20  Paper.wood          3186 non-null   int64
 21  Burnt               3186 non-null   int64
 22  Cereal              3186 non-null   int64
 23  Nutty               3186 non-null   int64
 24  Dark.chocolate      3186 non-null   int64
 25  Caramel             3186 non-null   int64
 26  Bitter              3186 non-null   int64
 27  Astringent          3186 non-null   int64
 28  Roasted             3186 non-null   int64
 29  Sour                3186 non-null   int64
 30  Thick.viscous       3186 non-null   int64
 31  Sweet               3186 non-null   int64
 32  Rubber              3186 non-null   int64
dtypes: float64(5), int64(23), object(5)
memory usage: 821.5+ KB